gradio==5.49.1
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma>=0.2.6
langgraph
python-dotenv
chromadb==1.4.1
polars==1.37.1
langchain-text-splitters==0.3.11
sentence_transformers>=5.2.2
serpapi>=0.1.5
openai
bm25s>=0.2.14
rank-bm25>=0.2.2
numpy
nest-asyncio
