aiosqlite>=0.21.0
httpx>=0.28.1
langchain-mcp-adapters>=0.1.12
langchain[openai]>=1.0.3
langgraph>=1.0.2
mcp>=1.21.0
openai>=2.5.0
openai-agents>=0.4.2
pydantic>=2.12.3
python-dotenv>=1.1.1
rich>=14.2.0
sqlalchemy>=2.0.44
typer>=0.20.0
